<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>collect: [| :${1:each}| $0]</string>
	<key>name</key>
	<string>collect (collect)</string>
	<key>scope</key>
	<string>source.slate</string>
	<key>tabTrigger</key>
	<string>collect</string>
	<key>uuid</key>
	<string>1E3C3746-7890-4DA1-8EC1-00F7B4674611</string>
</dict>
</plist>
