<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>${1:condition} ifTrue: [$2:then]</string>
	<key>name</key>
	<string>If-then (if)</string>
	<key>scope</key>
	<string>source.slate</string>
	<key>tabTrigger</key>
	<string>if</string>
	<key>uuid</key>
	<string>636E9DF2-03FF-41CA-B07D-75E852204BE5</string>
</dict>
</plist>
