<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>select: [| :${1:each}| $0]</string>
	<key>name</key>
	<string>select (select)</string>
	<key>scope</key>
	<string>source.slate</string>
	<key>tabTrigger</key>
	<string>select</string>
	<key>uuid</key>
	<string>3A5B15C7-9B57-485F-A859-18B0E1324BD0</string>
</dict>
</plist>
