<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>cd $TM_DIRECTORY ; $TM_FILEPATH</string>
	<key>input</key>
	<string>selection</string>
	<key>name</key>
	<string>Run Script</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>uuid</key>
	<string>2E994C2A-2589-4198-8627-F0B82A8B594E</string>
</dict>
</plist>
