Source: slate
Section: devel
Priority: optional
Maintainer: Timmy Douglas <slate@timmy.tmbx.com>
Depends: libc6-dev | libc-dev
Package: slate
Architecture: amd64
Version: 1.0.0
Description: A prototype-based object-oriented programming language
 Slate is a prototype-based object-oriented programming language based
 on Self, CLOS, and Smalltalk-80. Slate syntax is intended to be as
 familiar as possible to a Smalltalker, for the clarity of messages as
 phrases. Unlike the Smalltalk family, methods within Slate can be
 assigned to a signature of objects, instead of being installed on one
 favored receiver. Slate has also many further expansions of the
 semantics which enable more concise and natural ways to express
 solutions to problems.

