<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Typing Pairs in Blocks</string>
	<key>scope</key>
	<string>source.slate meta.block.header.slate</string>
	<key>settings</key>
	<dict>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>'</string>
				<string>'</string>
			</array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
			<array>
				<string>(</string>
				<string>)</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>|</string>
				<string>|</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>C41BA7AC-7461-4109-A8F7-EA0D01E34616</string>
</dict>
</plist>
